<div class="container">
    <div class="container">
        <h2>{{data.invitationData.sender.nombres}} {{data.invitationData.sender.apellidoP}}
            {{data.invitationData.sender.apellidoM}} invited you</h2>
        <h3>Project: {{data.invitationData.title}}</h3>
    </div>
    <div class="container">El PDF mamalon</div>
    <div class="container">
        <button mat-raised-button color="accent">Accept</button>
        <button mat-raised-button color="warn">Decline</button>
    </div>
</div>