<mat-toolbar color="primary">
    <mat-toolbar-row class="d-flex justify-content-between">
        <span class="w-100">Welcom Teacher "USER"</span>

        <button mat-flat-button class="w-100" color="primary">
            Log out
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-tab-group>
    <mat-tab label="Director"> <app-director></app-director> </mat-tab>
    <mat-tab label="Synodal"> <app-synodal></app-synodal> </mat-tab>
    <mat-tab label="Invitations"> Content 2 </mat-tab>
    <mat-tab label="TT Suggestions"> Content 3 </mat-tab>
    <mat-tab label="TT Library"> Content 3 </mat-tab>
    <mat-tab label="Calendar"> Content 3 </mat-tab>
</mat-tab-group>