<button mat-raised-button color="primary" (click)="changeView()" class="btn btn-lg btn-primary mt-3">Change
    view</button>

<div *ngIf="!hasInvitations; else elseBlock" class="text-center mt-4" style="overflow: hidden;">
    <h2>You Have <strong>0</strong> invitations</h2>
</div>
<ng-template #elseBlock>
    <div *ngFor="let invitation of invitationList" style="z-index: 200; margin-bottom: 30px; "
        class="d-flex justify-content-center align-items-center">
        <mat-card [class.mat-elevation-z8]="true" class="w-50 mat-card-clickable" (click)="openInvitation(invitation)">
            <mat-card-header class="p-4">
                <mat-card-title-group>
                    <mat-card-title>{{invitation.sender.nombres}} has invited you to join {{invitation.title}}
                        Project</mat-card-title>
                    <mat-card-subtitle>Click to view details</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
        </mat-card>
    </div>
</ng-template>