<div mat-dialog-content class="container">
    <form [formGroup]="protocolRequest" class="container" (ngSubmit)="onSubmit()">
        <div class="container">
            <div class="row mt-1">
                <div class="col-lg-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Protocol's Title</mat-label>
                        <input matInput type="text" formControlName="nombreProyecto" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-lg-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Student</mat-label>
                        <input matInput type="text" formControlName="integrante1" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-lg-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Teammate (optional)</mat-label>
                        <input type="text" placeholder="Pick one" aria-label="Number" matInput
                            formControlName="integrante2" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async"
                                [value]="concatenateNames(option)">
                                {{ option.nombres }} {{ option.apellidoP }} {{ option.apellidoM }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-lg-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Teammate (optional)</mat-label>
                        <input type="text" placeholder="Pick one" aria-label="Number" matInput
                            formControlName="integrante3" [matAutocomplete]="auto2">
                        <mat-autocomplete #auto2="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions2 | async"
                                [value]="concatenateNames(option)">
                                {{ option.nombres }} {{ option.apellidoP }} {{ option.apellidoM }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-lg-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Director 1</mat-label>
                        <input type="text" placeholder="Pick one" aria-label="Number" matInput
                            formControlName="director1" [matAutocomplete]="auto3">
                        <mat-autocomplete #auto3="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptionsDirector1 | async"
                                [value]="concatenateNames(option)">
                                {{ option.nombres }} {{ option.apellidoP }} {{ option.apellidoM }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-lg-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Director 2 (optional)</mat-label>
                        <input type="text" placeholder="Pick one" aria-label="Number" matInput
                            formControlName="director2" [matAutocomplete]="auto4">
                        <mat-autocomplete #auto4="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptionsDirector2 | async"
                                [value]="concatenateNames(option)">
                                {{ option.nombres }} {{ option.apellidoP }} {{ option.apellidoM }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <p-fileUpload mode="basic" #protocolFile [auto]="true" [customUpload]="true" accept=".pdf"
                (uploadHandler)="fileUploader($event, protocolFile)" styleClass="w-100">
                <ng-container *ngIf="protocolRequest.get('fileInput')?.invalid">
                    <p style="color: red;">Invalid File</p>
                </ng-container>
            </p-fileUpload>
            <small *ngIf="isFileSelected">{{fileSelected.name}}</small>
        </div>
        <div *ngIf="protocolRequest.hasError('sameTeammate')">
            <p style="color: red;">Teammate 2 and Teammate 3 cannot be the same.</p>
        </div>
        <div *ngIf="protocolRequest.hasError('sameDirector')">
            <p style="color: red;">Director 1 and Director 2 cannot be the same person.</p>
        </div>
        <div mat-dialog-actions class="d-flex justify-content-end">
            <button mat-flat-button mat-dialog-close>
                <!-- <mat-icon>close</mat-icon> -->
                Cancelar
            </button>
            <button mat-flat-button color="primary" [disabled]="protocolRequest.invalid" cdkFocusInitial
                class="mt-2 mt-sm-0">
                <!-- <mat-icon>add</mat-icon> -->
                Enviar Solicitud
            </button>
        </div>
    </form>
</div>