<mat-toolbar color="primary">
    <mat-toolbar-row class="d-flex justify-content-between">
        <span class="w-100">Welcom student "USER"</span>

        <button mat-flat-button class="w-100" color="primary" (click)="logout()">
            Log out
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-tab-group>
    <mat-tab label="My TT"> <app-mytt></app-mytt> </mat-tab>
    <mat-tab label="Invitations"> <app-invitations></app-invitations> </mat-tab>
    <mat-tab label="TT Suggestions"> <app-ttsugestions></app-ttsugestions> </mat-tab>
    <mat-tab label="TT Library"> <app-ttlibrary></app-ttlibrary> </mat-tab>
    <mat-tab label="Calendar"> <app-ttcalendar></app-ttcalendar> </mat-tab>
</mat-tab-group>