<button mat-raised-button color="primary" (click)="changeView()" class="btn btn-lg btn-primary mt-3">Change
    view</button>

<div *ngIf="!hasProjects; else elseBlock" class="text-center mt-4" style="overflow: hidden;">
    <div>
        <h2>You Have <strong>0</strong> projects</h2>
    </div>
    <button mat-raised-button color="primary" class="btn btn-primary">+ New TT</button>
</div>

<ng-template #elseBlock>
    <div *ngFor="let project of data" style="z-index: 200; margin-bottom: 30px; "
        class="d-flex justify-content-center align-items-center">
        <mat-card [class.mat-elevation-z8]="true" class="w-50">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>{{project.title}}</mat-card-title>
                    <mat-card-subtitle>{{project.date}}</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>{{project.students}} - {{project.teachers}} - {{project.panelists}}</mat-card-content>
            <mat-card-footer>{{project.status}}</mat-card-footer>
        </mat-card>
    </div>
</ng-template>